@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 43, 60;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@layer components {
  .section-padding {
    @apply py-16 md:py-32;
  }
  
  .btn-primary {
    @apply bg-navy transition-all duration-300 hover:bg-gold hover:-translate-y-0.5 ease-out;
  }
  
  .service-card {
    @apply border border-gray-200 transition-all duration-500 hover:border-gold hover:shadow-[0_10px_30px_rgba(0,0,0,0.03)];
  }
}
